@import url(https://fonts.googleapis.com/css?family=Battambang:100,300,regular,700,900);
@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --bg : #f2f2f2;
    --white: #fff;
    --primary: #7f5af0;
    --main-color : #292929;
    --main-color-light: #787878;
    --border: 1px solid #9090901f;
    
}
img, ion-icon, button, a {
    display: block;
}
body{
    background-color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', 'Battambang';
    transition: 0.2s ease;
}

html {
    scroll-behavior: smooth;
}
b {
    font-weight: 600;
}

a {
    color: var(--main-color);
}

.header-top {
    padding: 10px 0;
    border-bottom: var(--border);
}

.header-top .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1024px;
}

select {
    padding: 0 10px;
}

.header-social-container{
    display: flex;
    align-items: center;
    gap:4px;
}

.header-social-container .social-link {
    display: flex;
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
    color: var(--main-color-light);
    background-color: #f2f2f2;
}

.header-social-container .social-link:hover{
    color: var(--white);
    background-color: var(--primary);
}

.header-news {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--main-color-light);
    font-size: 12.75px;
}

.header-top-action {
    display: flex;
    gap: 10px;
}

.header-top-action select {
    border: none;
    color: #787878;
    padding: 5px 0;
    margin: 0 5px;
    cursor: pointer;
    width: 70px;
}

.header-top-action select:hover {
    color: var(--primary);
}

.header-main {
    padding: 20px 0;
    border-bottom: var(--border);
}

.header-main .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-user-action {
    display: flex;
    gap: 8px;
}

.header-user-action .action-btn {
    font-size: 30px;
    padding: 10px;
    border: none;
    display: flex;
    border-radius: 5px;
    color: var(--main-color);
    background-color: var(--bg);
}


.search-btn:hover {
    color: var(--primary);
}

.header-search {
    position: relative;
    width: 400px;
    display: flex;
}

.header-search .search-field{
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    padding-right: 40px;
    border: var(--border);
}

input {
    display: block;
    width: 100%;
}

.search-btn {
    position: absolute;
    top: 13%;
    right: 0;
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    background: none;
    color: var(--main-color);
}

.search-btn .search-icon {
    display: flex;
}

.action-btn {
    position: relative;
}

.action-btn:hover {
    color: var(--white);
    background-color: var(--primary);
}
.action-btn .count {
    position: absolute;
    right: -5px;
    top: -12px;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 50px;
    color: #f2f2f2;
    background-color: #ff6666;
}




/* Menu List */
.nav-menu-list .container {
    margin: 0 auto;
    padding: 0 20px;
}

.menu-list {
    display: flex;
    gap: 32px;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--main-color);
}

.menu-list li .menu-title {
    padding: 12px 0;
    position: relative; 
    
}

.menu-list li .menu-title:after {
    content: '';
    position: absolute;
    background-color: var(--primary);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    transition: .2s;
}

.menu-list li .menu-title:hover:after {
    width: 100%;
}


/* End Menu List */


/* Slide Image */


    .banner {
        display: flex;
        margin: 0 0 30px 0;

    }

    .banner .container {
        max-width: 1024px;
        height: 100%;
        padding: 0 15px;
        overflow: auto hidden;
        animation: slider 26s infinite;
    }
    
    .slider-container {
        display: flex;
        gap: 10px;
        flex-direction: row;
    }
    
    .silder-item img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }

    .silder-item {
        position: relative;
        width: 100%;
        overflow: hidden;
    }



    .silder-item .banner-content{
            position: absolute;
            top: 25%;
            left: 20px;
            padding: 20px 25px;
            line-height: 1.1;

        }

        .banner-subtitle {
            font-size: 24px;
            font-weight: 700;
            color: var(--primary);
        }

        .banner-title {
            font-size: 30px;
            font-weight: 700;
            color: var(--main-color);
            margin: 10px 0;
            text-transform: uppercase;
        }
        
        .banner-text {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 10px;
            color: var(--main-color-light);
            text-transform: uppercase;
        }

        .banner-text span {
            font-size: 30px;
            padding: 0 10px;
            color: var(--main-color);
        }

        .banner-btn {
            width: 120px;
            padding: 10px;
            border-radius: 5px;
            color: var(--bg);
            font-weight: 600;
            text-align: center;
            background-color: #7f5af0;
        }

        .banner-btn:hover {
            background-color: #6346bb;
        }
        

    /*  */
    
    /* Slide Image */
    
    .img-slider {
        position: relative;
        width: 1024px;
        height: 380px;
        overflow: hidden;
        padding: 0 20px;
        margin: 0 auto;
        border-radius: 12px;
        margin-bottom: 20px;
    }
    .img-slider .slider-container {
        position: absolute;
        width: 300%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        animation: slider 12s infinite;
    }
    .img-slider .slider-container .slide {
        position: relative;
        width: 33.33333333%;
        float: left;
        height: 100%;
        overflow: hidden;
    }
    .img-slider .slider-container .slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;

  }
  @keyframes slider {
      0%, 25%, 100%{left: 0}
      
      30%, 55%{left: -100%}
      
      60%, 85%{left: -200%}
  }


/*  */

.product-area {
    margin: 0 auto;
    max-width: 1024px;
    height: auto;
}

.product-area .container {
    display: flex;
    /* justify-content: space-between; */
}

.left-menu-list{
    border-radius: 5px;
    border: var(--border);
}

.left-menu-list .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    float: right;
    position: sticky;
    top: 0;
}

.left-menu-list .container .h2 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    color: var(--main-color);
}

.left-menu-list .container .h2:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #9090901f;
}

.left-menu-list .container .brand-logo {
    /* width: 130px; */
    height: 45px;
    margin: 5px 10px;
}

.product-card {
    width: 100%;
    padding-left: 20px;
    height: 200vh;
}

.product-card .container {
    display: flex;
    flex-direction: column;
}

.product-brand-name {
    border: var(--border);
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #9090901f;
}
.product-brand-name .brand-logo {
    height: 32px;
    margin: 0 20px;
}

.product-title {
    font-weight: 700;
    text-transform: uppercase;
}


/*  */